spring:
  application:
    name: bowl_handler
  datasource:
    url: jdbc:h2:file:./data/summary;DB_CLOSE_DELAY=-1;AUTO_SERVER=TRUE
    username: sa
    password: password
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
